.header {
  background-color: $red;
  margin-bottom: 2em;

  .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .header__column {
      &:nth-child(1) {
        a {
          font-family: 'Fredoka One', cursive;

          color: white;
          font-size: 1.9em;
          font-weight: 300;
          letter-spacing: 0.07em;
          // vertical-align: middle;
          display: flex;
          align-items: center;

          i {
            margin-right: 0.15em;
            font-size: 40px;
          }
        }
      }

      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }

      &:last-child {
        justify-self: end;
      }

      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;

        li:not(:last-child) {
          margin-right: 15px;
        }
      }

      #toggle {
        display: none;
        font-size: 2em;
        cursor: pointer;
        color: #fff;
      }

      form {
        width: 100%;

        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          color: black;
          font-weight: 600;

          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 48rem) {
  .header {
    .header__wrapper {
      transition: all 300 ease-in;

      .header__column {
        position: relative;

        ul {
          flex-direction: column;
          position: absolute;
          top: 2.5em;
          right: 0;
          padding: 1em;
          background-color: $red;
          z-index: 1;

          li:not(:last-child) {
            margin-bottom: 0.5em;
          }
        }

        #menu {
          display: none;

          &:hover {
            display: block;
          }
        }

        #menu.visible {
          display: block;
        }

        #toggle {
          display: block;
          margin-right: 0.2em;
        }
      }
    }
  }
}